<navbar></navbar>
<header>
  <hero></hero>
</header>
<main>
  <div>
  	<img src="http://assets.stickpng.com/thumbs/58482f67cef1014c0b5e4a81.png">
  	<h1> Salesforce - RPT - Rupesh Dabbir </h1>
            <section id="inputSection">
            <article id="inputArticle1">
                <span> Please enter your words in new lines:</span><br>
                <textarea id="words" rows="10" cols="10"></textarea>
                <br><br>
                <button type="button" id="evaluate">Click here to evalate</button>
            </article>
        </section>

        <br><br>
        <section id="resultsSection">
            <span>Results:</span>
            <ol id="resultol">
                <li class="res"></li>
            </ol>
            <div id="results2"></div>
        </section>
  </div>
</main>
